.page-footer {
	text-align: center;
	padding-bottom: 10px;
}

.page-footer a {
	color: #f2f2f2;
}

.page-footer a:hover{
	color: black;
}

.popout p {
	background-color: #333333;
	margin: 20px;
}

header a{
    color: #f2f2f2;
    font-family: 'helvetica neue', arial, sans-serif;
	font-size: 75px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

/* Nav bar elements */
#home a {
	font-size: 1.2em;
}

#home a:hover {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
}
.hover a:hover {
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}



._colophon{
margin-top: 20px;
margin-bottom: 20px;
border-top: 10px #4d4d4d solid;
border-bottom: 10px #4d4d4d solid;
}

._colophon h2{
	color: #f2f2f2;
}

._colophon h3{
	color: #f2f2f2;
}

._index{
margin-top: 20px;

border-top: 10px #4d4d4d solid;
border-bottom: 10px #4d4d4d solid;
}

._index h2{
	color: #f2f2f2;
}

._index p{
	color: #f2f2f2;
	margin-top: -100px;
}

._tbl{
margin-top: 20px;

border-top: 10px #4d4d4d solid;
border-bottom: 10px #4d4d4d solid;
}

._tbl h2{
	color: #f2f2f2;
}

._mh{
margin-top: 20px;

border-top: 10px #4d4d4d solid;
border-bottom: 10px #4d4d4d solid;
}

._mh h2{
	color: #f2f2f2;
}

._gh{
margin-top: 20px;

border-top: 10px #4d4d4d solid;
border-bottom: 10px #4d4d4d solid;
}

._gh h2{
	color: #f2f2f2;
}

h2{
	font-size :330%;
}

.carousel .carousel-item {
	width:400px;
}

.carousel a {
	color: #f2f2f2;
	text-align: center;
}

body{
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    color: white;
    font-family: 'lucida sans', arial, sans-serif;

}

.card p{
	color: black;
}

.card a{
	color: white;
}

.card a:hover{
	color: black;
}

.card-content a {
	color: black;
}

.card-content a:hover{
	color: #66b3ff;
}


@media (max-width: 300px) {
	body {
		background-image: none;
	}
}

@media (max-width: 480px) {
	body {
		background-image: none;
		color: black;
	}
}